#TOKEN
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

*.zip
*.tar*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.pdf
*.html
.vscode/
*.zip
*.png
*.jpg
ManyCores/Ex4/submission_11816863/


#Cubit, FEM Simulations
*.cdb
*.cfs
*.iges
*.cub5
**/history/
**/mics_dpdt/
**//__pycache__/
**/results_hdf5/
*.info.xml
*CFS-2023W-Linux*

#Pics
**/images/
**/images1/

#Benchmarking
**/benchmark/
